[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
flask = "*"
plotly = "*"
numpy = "*"
jupyter = "*"
lab = "*"
tabulate = "*"
streamlit = "*"
dash = "*"
psycopg2 = "*"
sqlalchemy = "*"
warcio = "*"
beautifulsoup4 = "*"
nltk = "*"
spacy = "*"
toml = "*"
pyspark = "*"
textblob = "*"
vadersentiment = "*"
wordcloud = "*"
seaborn = "*"
requests = "*"
keras = "*"
tensorflow = "*"
transformers = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.10"
